@model IEnumerable<ingInventario.Models.Producto>
@{
    ViewBag.Title = "Productos";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Gestionar Productos</h2>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <div class="form-group row">
                    <label class="col-1">Marca:</label>
                    <div class="col-2">
                        @Html.DropDownList("idMarca", null, "Todas", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <label class="col-1">Categoría</label>
                    <div class="col-2">
                        @Html.DropDownList("idCategoria", null, "Todas",htmlAttributes: new { @class = "form-control" })
                    </div>
                    <label class="col-1">Proveedor</label>
                    <div class="col-2">
                        @Html.DropDownList("idProveedor",null,"Todos", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <button id="buscar" class="btn btn-primary">Buscar</button>
                </div>
                
            </div>

            <div class="ibox-content" id="mostrarLista">              
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit"></div>
<div class="modal fade" id="modalDelete"></div>
<script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<script>

    $('#buscar').click(function () {
        cargarTabla();
    });
    function cargarTabla() {
        //localhost:8080/Productos/ListaProducto?marca=1&categoria=2&proveedor=
        //& se utiliza para concatenar más parametros
         let datos = '?marca=' + $('#idMarca').val() + '&categoria=' + $('#idCategoria').val() +
            '&proveedor=' + $('#idProveedor').val();
        $.get('@Url.Action("ListaProducto")' + datos, function (result) {
            $('#mostrarLista').html(result);
        });
    }
</script>