<li>
    <a href="#"><i class="fa fa-list"></i><span class="nav-label">Orden Entrada</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("OrdenEntrada", "OrdenEntradas")">Ingresar Orden</a></li>
    </ul>  
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("HistorialEntradas", "OrdenEntradas")">Historial Entradas</a></li>
    </ul>
</li>

